body {
    font-family: Helvetica, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.calculator {
    display: flex;
    align-items: stretch;
}

.display {
    text-align: right;
    background-color: black;
    color: white;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    flex-grow: 1;
    height: 16.667%;
    padding: 0;
    margin: 0;
    font-size: 3em;
}

.flex-container button {
    font-size: 1em;
}

.btnlrg {
    width: 75%;
    flex-grow: 0;
    flex-basis: auto;
}

.btnmdm {
    width: 50%;
    flex-grow: 0;
    flex-basis: auto;
}

.btnsml {
    width: 25%;
    flex-grow: 0;
    flex-basis: auto; 
}

.calc {
    background-color: orange;
}

.btn {
    background-color: grey;
}